### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)

/node_modules
coverage/
*.log
npm-debug.log
npm-debug.log.*
.logs/
logs/
/sea-modules/
*.swp
run/
*-run/
.DS_Store
test/fixtures/antx/conf/
*-tair.xml
assembly
process.dev.json
test/**/proxy_class_map.js
test/fixtures/proxy_tpl/**/proxy*
test/fixtures/proxy_tpl/**/.gitignore
test/**/node_hsf_config_snapshots/
/app/public/
/app/view
/app/undefined
_site
~
.tmp/
*.tmp
*.lock
.history
